{{#edoo_facebook_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/edoo_facebook_url}}
{{#edoo_twitter_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_twitter_url }}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a></li>
{{/edoo_twitter_url}}
{{#edoo_instagram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/edoo_instagram_url}}
{{#edoo_pinterest_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/edoo_pinterest_url}}
{{#edoo_dribbble_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/edoo_dribbble_url}}
{{#edoo_google_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/edoo_google_url}}
{{#edoo_youtube_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/edoo_youtube_url}}
{{#edoo_vk_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/edoo_vk_url}}
{{#edoo_500px_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/edoo_500px_url}}
{{#edoo_behance_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/edoo_behance_url}}
{{#edoo_digg_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/edoo_digg_url}}
{{#edoo_flickr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/edoo_flickr_url}}
{{#edoo_foursquare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/edoo_foursquare_url}}
{{#edoo_linkedin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/edoo_linkedin_url}}
{{#edoo_medium_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/edoo_medium_url}}
{{#edoo_meetup_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/edoo_meetup_url}}
{{#edoo_snapchat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/edoo_snapchat_url}}
{{#edoo_tumblr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/edoo_tumblr_url}}
{{#edoo_vimeo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/edoo_vimeo_url}}
{{#edoo_wechat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/edoo_wechat_url}}
{{#edoo_whatsapp_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/edoo_whatsapp_url}}
{{#edoo_wordpress_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/edoo_wordpress_url}}
{{#edoo_weibo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/edoo_weibo_url}}
{{#edoo_telegram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/edoo_telegram_url}}
{{#edoo_moodle_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/edoo_moodle_url}}
{{#edoo_amazon_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/edoo_amazon_url}}
{{#edoo_slideshare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/edoo_slideshare_url}}
{{#edoo_soundcloud_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/edoo_soundcloud_url}}
{{#edoo_leanpub_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/edoo_leanpub_url}}
{{#edoo_xing_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/edoo_xing_url}}
{{#edoo_bitcoin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/edoo_bitcoin_url}}
{{#edoo_twitch_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/edoo_twitch_url}}
{{#edoo_github_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/edoo_github_url}}
{{#edoo_gitlab_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/edoo_gitlab_url}}
{{#edoo_forumbee_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/edoo_forumbee_url}}
{{#edoo_trello_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/edoo_trello_url}}
{{#edoo_weixin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ edoo_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/edoo_weixin_url}}